 <div class="preheader">
    <button id="menu-toggle" class="menu-toggle fa fa-bars">
    </button>
    <div class="menu-item"> 
        {{> header/menu}} 
    </div>
    {{> header/logo}}
</div>

<div class="header-block-1">
    <div class="header-block">
        <div class="hot-topics">
            {{> header/hot-topics}}
        </div>
        <div class="social">
            {{> header/social}}
        </div>
    </div>
    
</div>